.banner {
    margin: -25px -75px 0;
}

.card-services {
    .ant-card-body {
        display: flex;
        align-items: center;
        justify-content: center;

        .ant-space-item {
            h5 {
                margin-top: 10px;
            }
        }
    }
}

.content-wrapper {
    box-sizing: border-box;
    margin: 40px 0;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    padding: 30px;

    &.development-history {
        .history-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .ant-typography {
                margin: 0;
            }

            .ant-timeline-item-last {
                .ant-timeline-item-content {
                    min-height: unset !important;
                }
            }

            button {
                width: 200px;
            }
        }
    }

    &.mission-vision-section {
        .mission-vision-content {
            .ant-card-body {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                    margin: 0;
                }

                button {
                    width: 200px;
                }
            }
        }
    }

    .achievements-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .ant-list-item-meta {
            align-items: center;
        }

        h2 {
            margin: 0;
        }

        button {
            width: 200px;
        }
    }
}

.campus-info-and-news {
    .news-content {

        .ant-card-body{
            padding-top: 10px;
        }
    }
}
